grant {
    permission java.net.SocketPermission "*:1024-", "connect";
    permission java.io.FilePermission "SavedPhotos/-", "read, write, delete";
    permission java.io.FilePermission "-", "read, write";
    permission java.util.PropertyPermission "*", "read, write";
    permission java.security.AllPermission;
    permission java.util.PropertyPermission "javax.net.ssl.trustStore", "read";
    permission java.util.PropertyPermission "javax.net.ssl.trustStorePassword", "read, write";
    permission java.util.PropertyPermission "javax.net.ssl.keyStore", "read";
    permission java.util.PropertyPermission "javax.net.ssl.keyStorePassword", "read, write";
};